// @mixin fixed-top() {

// }

@mixin btn-temp() {
    border: 2px solid $primary;
    background-color: transparent;
    color: $primary;
    font-size: 17px;
    font-weight: 700;
    padding: 0.8rem;
    display: inline-block;
    // border-radius: 0.3125rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

@mixin section-size() {
    // max-height: 100vh;
}