@import 'https://fonts.googleapis.com/css2?family=Arima&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(14px, 2vw, 16px);
  background-color: #070808;
  font-family: Arima, "Lucida Sans", "Lucida Sans Regular";
  overflow-x: hidden;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

section, .hero {
  min-height: 100vh;
  max-width: 100vw;
  padding: 2.5rem;
  padding-top: 12vh;
}
section .section-heading, .hero .section-heading {
  margin-bottom: 3.125rem;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

ion-icon {
  font-size: inherit;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #e92f9f;
  text-decoration: underline;
}

button a:hover {
  text-decoration: none;
}

.hidden,
.hidden-el {
  opacity: 0;
  transition: all 1s;
  filter: blur(100%);
}

.show,
.show-el {
  opacity: 1;
  filter: blur(0);
}

.show-el {
  animation: service-child 1s ease-in;
}

@keyframes service-child {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  50%, 60%, 70%, 80% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero button,
.appointment button,
header button {
  display: block;
  padding: 1em;
  background-color: #e92f9f;
  font-weight: 700;
  color: inherit;
  border: 1px solid #e92f9f;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 100ms ease-out;
}
.hero button:hover,
.appointment button:hover,
header button:hover {
  background-color: transparent;
  border: 1px solid #e92f9f;
  color: #e92f9f;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*                  Header                 *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
header {
  max-width: 100vw;
  max-height: 10vh;
  padding: 1.25rem 2.5rem;
  animation: slide-down 2s cubic-bezier(0.8, 0, 0.2, 0.1) forwards;
  background: rgba(145, 33, 196, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
header img {
  max-width: 60px;
  height: auto;
  animation: fade-in 2s ease-in 500ms forwards;
}
header nav {
  display: flex;
  align-items: center;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
  margin-right: 1.875rem;
  animation: slide-left 2s ease-in forwards;
}
header ul li:nth-child(1) {
  animation-delay: 1500ms;
}
header ul li:nth-child(2) {
  animation-delay: 1600ms;
}
header ul li:nth-child(3) {
  animation-delay: 1700ms;
}
header ul li:nth-child(4) {
  animation-delay: 1800ms;
}
header ul li:nth-child(5) {
  animation-delay: 1900ms;
}
header li,
header button,
header a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
header button {
  display: inline;
  background-color: transparent;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 0.5em;
  animation: slide-left 2s ease-in 2000ms forwards;
}
header #menu {
  display: none;
}

/* >  > > > > > > > > > > > > > > > > > > > 
>                                         >
>            Header Animation             >
>                                         >
> > > > > > > > > > > > > > > > > > > > > */
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(-50%);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Hero Section                *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.hero {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.hero .hero-text {
  line-height: 1.8;
  width: auto;
}
.hero .hero-text h1 {
  font-size: 2.875rem;
  animation: slide-down 1.8s ease-in 2250ms forwards;
}
.hero .hero-text p {
  margin-bottom: 1rem;
  animation: slide-down 1.8s ease-in 2200ms forwards;
}
.hero .hero-text button {
  animation: slide-down 1.8s ease-in 2000ms forwards;
}
.hero img {
  max-height: 70vh;
  width: auto;
  animation: move-in 2s ease-out 2450ms forwards;
}

/* >  > > > > > > > > > > > > > > > > > > > 
>                                         >
>             Hero Animation              >
>                                         >
> > > > > > > > > > > > > > > > > > > > > */
@keyframes move-in {
  from {
    opacity: 0;
    transform: translateX(-200vw);
  }
  90% {
    opacity: 0;
  }
  97% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  90% {
    opacity: 0;
  }
  97% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             About Section               *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.about {
  background-image: url(/assets/circle-scatter-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.about .spacer {
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: 0.625rem;
  max-height: 100%;
  background: hsla(281, 71%, 45%, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.about .spacer .about-brand {
  padding: 2em;
  min-width: 50%;
  line-height: 2;
}
.about .spacer .about-ceo {
  padding: 2em;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about .spacer .about-ceo img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
}
.about .spacer .about-ceo h2 {
  margin: 0.9375rem 0;
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Services Section            *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.services .services-parent {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5625rem;
  max-width: 100%;
}
.services .services-parent .services-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: hsla(324, 81%, 55%, 0.9) 0px 10px 20px, hsla(324, 81%, 55%, 0.239) 0px 6px 6px;
}
.services .services-parent .services-child:hover {
  scale: 1.02;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(80, 79, 79, 0.24) 0px 6px 6px;
}
.services .services-parent .services-child img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.services .services-parent .services-child .text-container {
  min-height: 50%;
  padding: 0.98rem;
}
.services .services-parent .services-child .text-container h2 {
  margin: 10px auto;
  text-align: center;
}
.services .services-parent .services-child .text-container p {
  text-align: left;
}

.gallery .gallery-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.gallery .gallery-parent img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Reviews Section             *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.review .review-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-gap: 1.5625rem;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.review .review-container .review-child {
  box-shadow: hsla(324, 81%, 55%, 0.9) 0px 10px 20px, hsla(324, 81%, 55%, 0.239) 0px 6px 6px;
  padding: 0.98rem;
}
.review .review-container .review-child:hover {
  scale: 1.02;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(80, 79, 79, 0.24) 0px 6px 6px;
}
.review .review-container .review-child .customer-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 100%;
}
.review .review-container .review-child .customer-details img {
  border: 1px solid hsl(324, 81%, 65%);
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}
.review .review-container .review-child .customer-details .star {
  font-size: 1rem;
}
.review .review-container .review-child .customer-details .star-green {
  color: #E92F9F;
}
.review .review-container .review-child .customer-details .fa-sharp {
  color: grey;
  font-size: 2.5rem;
}
.review .review-container .review-child .customer-message {
  max-width: 100%;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Appointment Section         *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.appointment .appointment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
.appointment .appointment-container div {
  width: 50%;
  height: -moz-max-content;
  height: max-content;
}
.appointment .appointment-container div img {
  width: 100%;
  height: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.appointment .appointment-container div form input[type=date]:not(:focus) {
  color: gray;
}
.appointment .appointment-container div form input[type=date]:focus {
  color: #000;
}
.appointment .appointment-container div form input,
.appointment .appointment-container div form textarea {
  display: block;
  width: 100%;
  padding: 1.125rem;
  margin: 0 auto;
  border: unset;
  margin-bottom: 1.25rem;
  color: #000;
  border-radius: 0.5em;
}
.appointment .appointment-container div form input::-moz-placeholder, .appointment .appointment-container div form textarea::-moz-placeholder {
  color: gray;
}
.appointment .appointment-container div form input::placeholder,
.appointment .appointment-container div form textarea::placeholder {
  color: gray;
}
.appointment .appointment-container div form input:focus,
.appointment .appointment-container div form textarea:focus {
  outline: 2px solid #e92f9f;
}
.appointment .appointment-container div form textarea {
  resize: none;
}
.appointment .appointment-container div form button {
  margin-left: auto;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*            Footer  Section              *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
footer {
  padding: 1.25rem 2.5rem;
  background: hsl(180, 7%, 5%);
  max-width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
}
footer .flex-parent-1,
footer .flex-parent-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100%;
}
footer .flex-parent-1 {
  padding-bottom: 0.75rem;
  gap: 1rem;
}
footer .flex-parent-2 {
  padding-top: 1.25rem;
  justify-content: space-between;
}
footer .flex-child {
  line-height: 1.5;
}
footer .flex-child:nth-child(1) {
  width: 45%;
}
footer .flex-child:nth-child(1) p {
  padding: 1.25rem;
  padding-left: 0;
  max-width: 100%;
}
footer .flex-child:nth-child(2) {
  width: -moz-min-content;
  width: min-content;
}
footer .flex-child:not(:first-child) {
  width: auto;
}
footer .flex-child:not(:first-child) ul {
  list-style-type: none;
}
footer .flex-child:not(:first-child) ul li a {
  text-decoration: none;
}
footer .flex-child img {
  max-width: 50px;
  aspect-ratio: 1/1;
}
footer .flex-child .flex-child-span {
  display: block;
}
footer .flex-child .social-link {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
footer .flex-child .social-link li {
  scale: 1.5;
  margin-right: 20px;
}
footer .flex-child .social-link li img {
  filter: grayscale(100%);
  filter: blur(10%);
  transition: all 1s ease-in;
}
footer .flex-child .social-link li img:hover {
  filter: grayscale(0);
  filter: blur(0);
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*               Media Queries             *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.show {
  display: block;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 25vh;
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
  transition: all 10s ease-in;
  z-index: 100;
}

@media screen and (width <= 500px) {
  .services-parent .services-child img {
    max-width: 60%;
    width: 60%;
    height: 120px;
  }
}
@media screen and (width <= 600px) {
  .gallery .gallery-parent {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  footer .flex-parent-2 {
    flex-direction: column;
  }
}
@media screen and (width <= 768px) {
  header {
    overflow: visible;
  }
  header nav ul {
    display: none;
  }
  header nav ul li {
    display: block;
    animation: none;
  }
  header nav button {
    margin-right: 1.2rem;
  }
  header nav #menu {
    display: inline-block;
    font-size: 24px;
    z-index: 1000;
    margin: 0 10px;
    transition: all 5s ease-in;
  }
  header nav #menu :hover {
    cursor: pointer;
    color: #fe3fe2;
  }
  .hero {
    flex-direction: column-reverse;
    min-height: 100vh;
    padding-top: 10vh;
  }
  .hero .hero-text {
    height: 40%;
    width: 100%;
  }
  .hero img {
    height: auto;
    max-width: 100%;
  }
  .spacer {
    flex-direction: column;
    height: auto;
  }
  .spacer .about-brand,
  .spacer .about-ceo {
    min-width: 100%;
  }
  .about-ceo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-heading {
    text-align: center;
  }
  .appointment-container {
    gap: 0px;
    justify-content: center;
  }
  .appointment-container .form {
    min-width: 100%;
  }
  .appointment-container .form input {
    min-width: 100%;
  }
  .appointment-container img {
    display: none;
  }
  .appointment-container button {
    width: 100%;
  }
  footer .flex-parent-1 {
    flex-direction: column;
  }
  footer .flex-parent-1 .flex-child {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
  }
  footer .flex-parent-1 .flex-child:nth-child(1) {
    max-width: 100%;
  }
  footer .flex-parent-1 .flex-child:nth-child(1) p {
    max-width: 100%;
  }
}
@media screen and (width <= 1024px) {
  header {
    position: sticky;
  }
}/*# sourceMappingURL=style.css.map */