@import 'https://fonts.googleapis.com/css2?family=Arima&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(14px, 2vw, 16px);
  background-color: rgb(32, 4, 21);
  font-family: Arima, "Lucida Sans", "Lucida Sans Regular";
  overflow-x: hidden;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  padding: 2.5rem;
  padding-top: 12vh;
}
section .section-heading {
  margin-bottom: 3.125rem;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*                  Header                 *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
header {
  max-width: 100vw;
  max-height: 10vh;
  padding: 1.25rem 2.5rem;
  animation: slide-down 2s cubic-bezier(0.8, 0, 0.2, 0.1) forwards;
  background: rgba(145, 33, 196, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
header .img-wrap {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 2s ease-in 500ms forwards;
}
header .img-wrap img {
  height: 60px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.2);
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
  margin-right: 1.875rem;
  animation: slide-left 2s ease-in forwards;
}
header ul li:nth-child(1) {
  animation-delay: 1500ms;
}
header ul li:nth-child(2) {
  animation-delay: 1600ms;
}
header ul li:nth-child(3) {
  animation-delay: 1700ms;
}
header ul li:nth-child(4) {
  animation-delay: 1800ms;
}
header li,
header button,
header a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
header button {
  border: 2px solid #9121c4;
  background-color: transparent;
  color: #9121c4;
  font-size: 17px;
  font-weight: 700;
  padding: 0.8rem;
  display: inline-block;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: slide-left 2s ease-in 1900ms forwards;
}
header #menu {
  display: none;
}

/* >  > > > > > > > > > > > > > > > > > > > 
>                                         >
>            Header Animation             >
>                                         >
> > > > > > > > > > > > > > > > > > > > > */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(-50%);
  }
  50%, 60%, 70%, 80% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  50%, 60%, 70% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Hero Section                *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.hero {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 2.5rem;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.hero .hero-text {
  line-height: 1.8;
  width: auto;
}
.hero .hero-text h1 {
  font-size: 2.875rem;
  animation: slide-down 1.8s ease-in 2250ms forwards;
}
.hero .hero-text p {
  margin-bottom: 1.25rem;
  animation: slide-down 1.8s ease-in 2200ms forwards;
}
.hero .hero-text button {
  border: 2px solid #9121c4;
  background-color: transparent;
  color: #9121c4;
  font-size: 17px;
  font-weight: 700;
  padding: 0.8rem;
  display: inline-block;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  border: 0.125rem solid #fff;
  animation: slide-down 1.8s ease-in 2000ms forwards;
}
.hero .hero-img-container {
  max-width: 50%;
}
.hero .hero-img-container img {
  height: 70vh;
  width: 100%;
  animation: move-in 2s ease-out 2450ms forwards;
}

/* >  > > > > > > > > > > > > > > > > > > > 
>                                         >
>             Hero Animation              >
>                                         >
> > > > > > > > > > > > > > > > > > > > > */
@keyframes move-in {
  from {
    opacity: 0;
    transform: translateX(-200vw);
  }
  90% {
    opacity: 0;
  }
  97% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  90% {
    opacity: 0;
  }
  97% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             About Section               *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.about .spacer {
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: 0.625rem;
  max-height: 100%;
  background: rgba(145, 33, 196, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.about .spacer .about-brand {
  padding: 2em;
  min-width: 50%;
  line-height: 2;
}
.about .spacer .about-ceo {
  padding: 2em;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about .spacer .about-ceo img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
}
.about .spacer .about-ceo h2 {
  margin: 0.9375rem 0;
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Services Section            *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.services .services-parent {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.25rem;
  max-width: 100%;
}
.services .services-parent .services-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-radius: 1vw;
}
.services .services-parent .services-child .img-container {
  max-width: 100%;
}
.services .services-parent .services-child .img-container img {
  width: 100%;
}
.services .services-parent .services-child .text-container {
  text-align: center;
  padding: 0 0.625rem;
}
.services .services-parent .services-child .text-container p {
  text-align: left;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Reviews Section             *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.review .review-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-gap: 1.25rem;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.review .review-container .review-child {
  padding: 0.5rem;
}
.review .review-container .review-child .customer-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}
.review .review-container .review-child .customer-details img {
  border: 1px solid hsl(324, 81%, 65%);
  width: 3.75rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.review .review-container .review-child .customer-details .star {
  font-size: 1rem;
}
.review .review-container .review-child .customer-details .star-green {
  color: #E92F9F;
}
.review .review-container .review-child .customer-details .fa-sharp {
  color: grey;
  font-size: 2.5rem;
}
.review .review-container .review-child .customer-message {
  max-width: 100%;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*             Appointment Section         *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.appointment h1 {
  margin-bottom: 3.125rem;
}
.appointment .appointment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
.appointment .appointment-container div {
  width: 50%;
  height: -moz-max-content;
  height: max-content;
}
.appointment .appointment-container div img {
  width: 100%;
  height: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.appointment .appointment-container div form input,
.appointment .appointment-container div form textarea {
  display: block;
  width: 100%;
  padding: 1.125rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  color: #000;
}
.appointment .appointment-container div form input::-moz-placeholder, .appointment .appointment-container div form textarea::-moz-placeholder {
  color: gray;
}
.appointment .appointment-container div form input::placeholder,
.appointment .appointment-container div form textarea::placeholder {
  color: gray;
}
.appointment .appointment-container div form input:focus,
.appointment .appointment-container div form textarea:focus {
  outline: 1px solid #b048e0;
}
.appointment .appointment-container div form button {
  display: block;
  align-self: flex-end;
  background: #b048e0;
  padding: 1em;
  border: unset;
  margin-left: auto;
}
.appointment .appointment-container div textarea {
  resize: none;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*            Footer  Section              *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
footer {
  background: #fe3fe2;
  max-width: 100vw;
  min-height: 10vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .social-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 25px;
}
footer .social-link li {
  display: inline-block;
}
footer .social-link li a {
  text-decoration: none;
}
footer .social-link li a ion-icon {
  font-size: clamp(18px, 2.3vw, 24px);
}
footer .social-link li a ion-icon:nth-child(1):hover {
  color: purple;
}
footer .social-link li a ion-icon:nth-child(2):hover {
  color: green;
}
footer .social-link li a ion-icon:nth-child(3):hover {
  color: red;
}

/* * * * * * * * * * * * * * * * * * * *  * 
*                                         *
*               Media Queries             *
*                                         *
* * * * * * * * * * * * * * * * * * * * * */
.show {
  display: block;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
  transition: all 10s ease-in;
}

@media screen and (width <= 768px) {
  header {
    overflow: visible;
  }
  header nav ul {
    display: none;
  }
  header nav ul li {
    display: block;
  }
  header nav #menu {
    display: inline-block;
    font-size: 24px;
    z-index: 1000;
  }
  header nav #menu :hover {
    cursor: pointer;
    color: #fe3fe2;
  }
  .spacer {
    flex-direction: column;
    height: auto;
  }
  .spacer .about-brand,
  .spacer .about-ceo {
    min-width: 100%;
  }
  .about-ceo {
    border-top: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero {
    flex-direction: column-reverse;
    min-height: 100vh;
    padding-top: 10vh;
  }
  .hero .hero-text {
    height: 50%;
    width: 100%;
  }
  .hero .hero-img-container {
    max-width: 100%;
    max-height: 50%;
  }
  .hero .hero-img-container img {
    height: 100%;
    width: 100%;
  }
  .section-heading {
    text-align: center;
  }
  .appointment-container {
    gap: 0px;
    justify-content: center;
  }
  .appointment-container .form {
    min-width: 100%;
  }
  .appointment-container .form input {
    min-width: 100%;
  }
  .appointment-container img {
    display: none;
  }
  .appointment-container button {
    width: 100%;
  }
}
@media screen and (width <= 1024px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (width > 768px) {
  .about-ceo {
    border-left: 2px solid #fff;
  }
}/*# sourceMappingURL=style.css.map */